<%- include("partials/header"); -%>

  <div class="main-page container-fluid">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="list-container col"> <!--List container-->
        <ul class="list-group-item">
          <li class="list-group-item">
            <div class="list-heading"> <!--list heading-->
              <div class=""> <!--list date container-->
                <h1><%= listDate %></h1>
              </div>
            </div>
          </li>

          <% listArray.forEach(function(item){ %>
            <li class="list-group-item">
              <div class="item-container"> <!-- List item-->

                <div class="item-checkbox">
                  <form class="item form-inline" action="/check" method="post">
                    <input type="checkbox" name="checked" value="<%= item.checked %>" onChange="this.form.submit()" <% if(item.checked){ %> checked <% } %>>

                    <!-- Also insert hidden input for name and id of item. -->
                    <input type="hidden" name="id" value="<%= item.id %>">
                    <input type="hidden" name="listDate" value="<%= listDate %>">
                    <input type="hidden" name="name" value="<%= item.name %>">
                  </form>
                </div>

                <div class="item-name" <% if(item.checked){ %> style="text-decoration-line: line-through;" <% } %>>
                  <p><%=item.name%></p>
                </div>

                <div class="item-button">
                  <form class="item form-inline" action="/delete" method="post">
                    <button class="btn btn-outline-dark" type="submit" name="delete">Delete</button>

                    <!-- Also insert hidden input for name and id of item. -->
                    <input type="hidden" name="id" value="<%= item.id %>">
                    <input type="hidden" name="listDate" value="<%= listDate %>">
                    <input type="hidden" name="name" value="<%= item.name%>">
                  </form>
                </div>

              </div>
            </li>
          <% }) %>

          <li class="list-group-item">
            <form class="item form-inline" action="/add" method="post">
              <div class="item-container">

                <div class="new-item-name">
                  <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                </div>

                <div class="new-item-button">
                  <button class="btn btn-outline-dark" type="submit" name="submit">Submit</button>
                </div>

                <!-- Also insert hidden input for name and id of item. -->
                <input type="hidden" name="listDate" value="<%= listDate %>">
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="calendar-container col">
        <!--calendar container-->
        <form action="/date" method="post">
          <input type="date" id="date" name="date" required pattern="\d{4}-\d{2}-\d{2}">
          <button class="btn btn-outline-dark" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

<%- include("partials/footer"); -%>
